<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <title>Cryptocurrency</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style="padding-right: 30px;">
  <h1 style="text-align: center;"> Chain Details </h1>

<span id="chain"></span>
{% block javascript %}
<ul>
<script>
 var chainDetails = JSON.parse('{{ responsek | tojson | safe}}');


 document.write('<table class="table table-striped">');
  document.write('<thread>')
  document.write('<tr>');
    document.write(  '<th scope="col">Index</th>');
    document.write( '<th scope="col">Time Stamp</th>');
    document.write(  '<th scope="col">Previous Hash</th>');
    document.write(  '<th scope="col">Proof</th>');
    document.write( '</tr>' );
    document.write( '</thread>' );
    document.write( '<tbody>' );
 for( i = 0; i < chainDetails.length; i++)
  {
    document.write('<tr>');
    document.write('<td>'+chainDetails.chain[i].index +'</td>') ;
    document.write('<td>'+chainDetails.chain[i].timestamp +'</td>' );
    document.write('<td>'+chainDetails.chain[i].previous_hash+'</td>' );
    document.write('<td>'+chainDetails.chain[i].proof+'</td>' );
    document.write( '</tr>');
  } 
  document.write('</tbody>');
  document.write( '</table>' );
  document.write("Length: "+ chainDetails.length);        

  </script>
</ul> 
  {% endblock %}
</body>

</html>
